<h3>무작정 따라하기-8-3</h3>

In [2]:
import pandas as pd

df = pd.read_excel("한국도로교통공단_일자별 시군구별 교통사고 통계_20241231.xlsx")
df.head()

   발생월  발생일  시도   시군구  사고건수  사망자수  중상자수  경상자수  부상신고자수
0    1    1  서울    중구     4     0     2     5       0
1    1    1  서울   용산구     1     0     2     0       0
2    1    1  서울   성동구     1     0     0     1       0
3    1    1  서울  동대문구     1     0     0     1       0
4    1    1  서울   성북구     3     0     1     2       0

In [3]:
df['시도시군구'] = df.시도 + " " + df.시군구
df.head()

   발생월  발생일  시도   시군구  사고건수  사망자수  중상자수  경상자수  부상신고자수    시도시군구
0    1    1  서울    중구     4     0     2     5       0    서울 중구
1    1    1  서울   용산구     1     0     2     0       0   서울 용산구
2    1    1  서울   성동구     1     0     0     1       0   서울 성동구
3    1    1  서울  동대문구     1     0     0     1       0  서울 동대문구
4    1    1  서울   성북구     3     0     1     2       0   서울 성북구

In [4]:
newdf = df.iloc[:, [0,4,5,6,7,8,9]]
newdf

       발생월  사고건수  사망자수  중상자수  경상자수  부상신고자수    시도시군구
0        1     4     0     2     5       0    서울 중구
1        1     1     0     2     0       0   서울 용산구
2        1     1     0     0     1       0   서울 성동구
3        1     1     0     0     1       0  서울 동대문구
4        1     3     0     1     2       0   서울 성북구
...    ...   ...   ...   ...   ...     ...      ...
57671   12     5     0     3     3       0   대전 유성구
57672   12     3     0     1     6       0   대전 대덕구
57673   12     1     0     0     0       1    울산 중구
57674   12     6     0     3     3       0    울산 남구
57675   12     1     0     2     0       0    울산 동구

[57676 rows x 7 columns]

In [5]:
grp = newdf.groupby(['발생월', '시도시군구'])
data = grp.sum()
data = data.reset_index()
data

      발생월   시도시군구  사고건수  사망자수  중상자수  경상자수  부상신고자수
0       1  강원 강릉시    52     1     9    57       0
1       1  강원 고성군     7     0     4     4       0
2       1  강원 동해시    25     0     7    25       0
3       1  강원 삼척시     8     0     5     4       0
4       1  강원 속초시    28     0     9    35       0
...   ...     ...   ...   ...   ...   ...     ...
2735   12  충북 제천시    75     0    16    73      12
2736   12  충북 증평군     8     0     3     6       0
2737   12  충북 진천군    56     1    10    56       0
2738   12  충북 청주시   343     6    65   424      22
2739   12  충북 충주시    83     0    23   104       1

[2740 rows x 7 columns]

In [6]:
month = pd.read_csv("한국도로교통공단_시군구별 월별 교통사고 통계_20241231.csv", 
                    encoding="CP949")
month.sort_values(by=['발생월', '시도', '시군구'])

      시도  시군구  발생월  사고건수  사망자수  중상자수  경상자수  부상신고자수
900   강원  강릉시    1    52     1     9    57       0
1056  강원  고성군    1     7     0     4     4       0
888   강원  동해시    1    25     0     7    25       0
936   강원  삼척시    1     8     0     5     4       0
912   강원  속초시    1    28     0     9    35       0
...   ..  ...  ...   ...   ...   ...   ...     ...
1115  충북  제천시   12    75     0    16    73      12
1211  충북  증평군   12     8     0     3     6       0
1163  충북  진천군   12    56     1    10    56       0
1091  충북  청주시   12   343     6    65   424      22
1103  충북  충주시   12    83     0    23   104       1

[2740 rows x 8 columns]

In [8]:
import pandas as pd

air = pd.read_excel("2025년7월-10월대기오염도.xlsx")
air

             date  시도  시군구 point  pm10  pm25
0      2025-07-01  전남  순천시   호두리   8.0   4.0
1      2025-07-01  경기  고양시   행신동  14.0  10.0
2      2025-07-01  경기  안산시   고잔동   8.0   6.0
3      2025-07-01  전북  전주시   팔복동  11.0   5.0
4      2025-07-01  경북  영양군   영양군  10.0   5.0
...           ...  ..  ...   ...   ...   ...
77735  2025-10-31  강원  삼척시  남양동1  25.0  14.0
77736  2025-10-31  서울  관악구   관악구  32.0  21.0
77737  2025-10-31  경기  안산시   호수동  38.0  24.0
77738  2025-10-31  전남  영광군   영광읍  38.0  25.0
77739  2025-10-31  경북  봉화군  봉화군청  26.0  16.0

[77740 rows x 6 columns]

In [9]:
air[['년', '월', '일']] = air['date'].str.split('-', expand=True)
air

             date  시도  시군구 point  pm10  pm25     년   월   일
0      2025-07-01  전남  순천시   호두리   8.0   4.0  2025  07  01
1      2025-07-01  경기  고양시   행신동  14.0  10.0  2025  07  01
2      2025-07-01  경기  안산시   고잔동   8.0   6.0  2025  07  01
3      2025-07-01  전북  전주시   팔복동  11.0   5.0  2025  07  01
4      2025-07-01  경북  영양군   영양군  10.0   5.0  2025  07  01
...           ...  ..  ...   ...   ...   ...   ...  ..  ..
77735  2025-10-31  강원  삼척시  남양동1  25.0  14.0  2025  10  31
77736  2025-10-31  서울  관악구   관악구  32.0  21.0  2025  10  31
77737  2025-10-31  경기  안산시   호수동  38.0  24.0  2025  10  31
77738  2025-10-31  전남  영광군   영광읍  38.0  25.0  2025  10  31
77739  2025-10-31  경북  봉화군  봉화군청  26.0  16.0  2025  10  31

[77740 rows x 9 columns]

In [10]:
air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77740 entries, 0 to 77739
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    77740 non-null  object
 1   시도      77740 non-null  object
 2   시군구     77740 non-null  object
 3   point   77740 non-null  object
 4   pm10    76842 non-null  float64
 5   pm25    77067 non-null  float64
 6   년       77740 non-null  object
 7   월       77740 non-null  object
 8   일       77740 non-null  object
dtypes: float64(2), object(7)
memory usage: 5.3+ MB

In [12]:
point = set(air['point'])
len(point)

665

In [13]:
pm10na = air[air['pm10'].isna()]
grp = pm10na.groupby("시도")
grp.size()

시도
강원    155
경기    108
경남     21
경북    125
광주      1
대전      8
부산      8
서울      1
세종    151
울산      9
인천     52
전남     63
전북     33
제주      1
충남    157
충북      5
dtype: int64

In [14]:
jn = air[air.시도 == "전남"]
grp = jn.groupby("시군구")
grp.size()

시군구
강진군     119
고흥군     115
곡성군     119
광양시     952
구례군     119
나주시     119
담양군     119
목포시     238
무안군     238
보성군     238
순천시     595
신안군     357
여수시    1071
영광군     238
영암군     357
완도군     119
장성군     118
장흥군     119
진도군     119
함평군     119
해남군     119
화순군     238
dtype: int64

In [15]:
cityName = ['광양시', '나주시', '목포시', '순천시', '여수시']
city = air[air['시군구'].isin(cityName)]
city

             date  시도  시군구  point  pm10  pm25     년   월   일
0      2025-07-01  전남  순천시    호두리   8.0   4.0  2025  07  01
8      2025-07-01  전남  여수시    율촌면   9.0   7.0  2025  07  01
9      2025-07-01  전남  목포시    부흥동  10.0   8.0  2025  07  01
34     2025-07-01  전남  광양시  광양 중마  14.0  14.0  2025  07  01
76     2025-07-01  전남  광양시     중동  11.0   6.0  2025  07  01
...           ...  ..  ...    ...   ...   ...   ...  ..  ..
77614  2025-10-31  전남  광양시    광양읍  16.0   9.0  2025  10  31
77666  2025-10-31  전남  여수시    화양면  22.0  15.0  2025  10  31
77671  2025-10-31  전남  광양시    태인동  12.0   2.0  2025  10  31
77695  2025-10-31  전남  목포시    용당동  36.0  15.0  2025  10  31
77719  2025-10-31  전남  광양시  광양 율촌  24.0  13.0  2025  10  31

[2975 rows x 9 columns]

In [16]:
city10 = city[city.월 == "10"]
city10

             date  시도  시군구  point  pm10  pm25     년   월   일
58727  2025-10-01  전남  광양시  광양 중마  26.0  18.0  2025  10  01
58856  2025-10-01  전남  여수시    서강동  22.0  13.0  2025  10  01
58874  2025-10-01  전남  여수시    월내동  27.0  15.0  2025  10  01
58875  2025-10-01  전남  나주시   빛가람동  17.0  13.0  2025  10  01
58936  2025-10-01  전남  순천시    장천동  20.0   8.0  2025  10  01
...           ...  ..  ...    ...   ...   ...   ...  ..  ..
77614  2025-10-31  전남  광양시    광양읍  16.0   9.0  2025  10  31
77666  2025-10-31  전남  여수시    화양면  22.0  15.0  2025  10  31
77671  2025-10-31  전남  광양시    태인동  12.0   2.0  2025  10  31
77695  2025-10-31  전남  목포시    용당동  36.0  15.0  2025  10  31
77719  2025-10-31  전남  광양시  광양 율촌  24.0  13.0  2025  10  31

[725 rows x 9 columns]

In [17]:
grp = city10.groupby("시군구")
grp['pm10'].agg(['count', 'min','mean','max'])

     count  min       mean   max
시군구
광양시    230  6.0  17.839130  36.0
나주시     29  5.0  17.103448  33.0
목포시     51  1.0  19.078431  43.0
순천시    145  7.0  19.324138  36.0
여수시    261  8.0  17.754789  35.0

In [18]:
result = pd.pivot_table(city, index='시군구', columns='월', 
               values='pm25', aggfunc='mean', margins=True)
round(result, 2)

월       07     08    09    10    All
시군구
광양시  13.36  11.43  9.10  9.08  10.81
나주시  12.00   8.87  7.46  8.34   9.23
목포시  11.85   9.11  8.09  8.86   9.58
순천시  10.36   9.01  6.91  7.83   8.57
여수시  11.65   9.86  8.77  9.37   9.95
All  11.97  10.09  8.40  8.89   9.89

In [19]:
grp = city10.groupby("point")
grp['pm10'].agg(['count', 'min','mean','max'])

         count   min       mean   max
point
광양 율촌       29  13.0  21.275862  32.0
광양 중마       27  13.0  20.407407  36.0
광양읍         29   9.0  17.413793  27.0
광양항         29  12.0  21.758621  34.0
덕충동         29   8.0  15.827586  28.0
문수동         29   8.0  15.896552  29.0
봉강면         29   9.0  15.551724  22.0
부흥동         29   6.0  16.310345  27.0
빛가람동        29   5.0  17.103448  33.0
삼일동         29   9.0  17.896552  30.0
서강동         29   8.0  15.862069  28.0
순천만         29  10.0  18.413793  27.0
신대          29  16.0  25.586207  36.0
여수항         29  11.0  20.758621  35.0
여천동(여수)     29  10.0  17.172414  32.0
연향동         29   7.0  14.689655  23.0
용당동         22   1.0  22.727273  43.0
월내동         29  12.0  20.137931  34.0
율촌면         29  11.0  18.689655  31.0
장천동         29  13.0  20.724138  31.0
중동          29  10.0  15.965517  23.0
진월면         29  10.0  16.862069  27.0
태인동         29   6.0  13.655172  27.0
호두리         29   7.0  17.206897  27.0
화양면         29  10.0  17.551724  32.0

In [21]:
city10.head()

             date  시도  시군구  point  pm10  pm25     년   월   일
58727  2025-10-01  전남  광양시  광양 중마  26.0  18.0  2025  10  01
58856  2025-10-01  전남  여수시    서강동  22.0  13.0  2025  10  01
58874  2025-10-01  전남  여수시    월내동  27.0  15.0  2025  10  01
58875  2025-10-01  전남  나주시   빛가람동  17.0  13.0  2025  10  01
58936  2025-10-01  전남  순천시    장천동  20.0   8.0  2025  10  01

In [22]:
city10.loc[:, 'point2'] = city10['point']+" ("+city10['시군구']+")"
city10.head()

C:\Users\ryoonjeong\AppData\Local\Temp\ipykernel_26336\1201741805.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city10.loc[:, 'point2'] = city10['point']+" ("+city10['시군구']+")"

             date  시도  시군구  point  pm10  pm25     년   월   일       point2
58727  2025-10-01  전남  광양시  광양 중마  26.0  18.0  2025  10  01  광양 중마 (광양시)
58856  2025-10-01  전남  여수시    서강동  22.0  13.0  2025  10  01    서강동 (여수시)
58874  2025-10-01  전남  여수시    월내동  27.0  15.0  2025  10  01    월내동 (여수시)
58875  2025-10-01  전남  나주시   빛가람동  17.0  13.0  2025  10  01   빛가람동 (나주시)
58936  2025-10-01  전남  순천시    장천동  20.0   8.0  2025  10  01    장천동 (순천시)

In [23]:
grp = city10.groupby("point2")
grp['pm10'].agg(['count', 'min','mean','max'])

               count   min       mean   max
point2
광양 율촌 (광양시)       29  13.0  21.275862  32.0
광양 중마 (광양시)       27  13.0  20.407407  36.0
광양읍 (광양시)         29   9.0  17.413793  27.0
광양항 (광양시)         29  12.0  21.758621  34.0
덕충동 (여수시)         29   8.0  15.827586  28.0
문수동 (여수시)         29   8.0  15.896552  29.0
봉강면 (광양시)         29   9.0  15.551724  22.0
부흥동 (목포시)         29   6.0  16.310345  27.0
빛가람동 (나주시)        29   5.0  17.103448  33.0
삼일동 (여수시)         29   9.0  17.896552  30.0
서강동 (여수시)         29   8.0  15.862069  28.0
순천만 (순천시)         29  10.0  18.413793  27.0
신대 (순천시)          29  16.0  25.586207  36.0
여수항 (여수시)         29  11.0  20.758621  35.0
여천동(여수) (여수시)     29  10.0  17.172414  32.0
연향동 (순천시)         29   7.0  14.689655  23.0
용당동 (목포시)         22   1.0  22.727273  43.0
월내동 (여수시)         29  12.0  20.137931  34.0
율촌면 (여수시)         29  11.0  18.689655  31.0
장천동 (순천시)         29  13.0  20.724138  31.0
중동 (광양시)          29  10.0  15.965517  23.0
진월면 (광양시)         29  10.0  16.862069  27.0
태인동 (광양시)         29   6.0  13.655172  27.0
호두리 (순천시)         29   7.0  17.206897  27.0
화양면 (여수시)         29  10.0  17.551724  32.0