<h3> 스스로 해보기 - 8</h3>

In [2]:
# 01

import pandas as pd

df = pd.read_excel("한국도로교통공단_일자별 시군구별 교통사고 통계_20241231.xlsx")
df.head(5)

   발생월  발생일  시도   시군구  사고건수  사망자수  중상자수  경상자수  부상신고자수
0    1    1  서울    중구     4     0     2     5       0
1    1    1  서울   용산구     1     0     2     0       0
2    1    1  서울   성동구     1     0     0     1       0
3    1    1  서울  동대문구     1     0     0     1       0
4    1    1  서울   성북구     3     0     1     2       0

In [3]:
# 02

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57676 entries, 0 to 57675
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   발생월     57676 non-null  int64
 1   발생일     57676 non-null  int64
 2   시도      57676 non-null  object
 3   시군구     57676 non-null  object
 4   사고건수    57676 non-null  int64
 5   사망자수    57676 non-null  int64
 6   중상자수    57676 non-null  int64
 7   경상자수    57676 non-null  int64
 8   부상신고자수  57676 non-null  int64
dtypes: int64(7), object(2)
memory usage: 4.0+ MB

In [4]:
# 03

df.columns

Index(['발생월', '발생일', '시도', '시군구', '사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')

In [5]:
# 04

df1 = df[["시도", "시군구", "사고건수"]]
df1.tail(5)

       시도  시군구  사고건수
57671  대전  유성구     5
57672  대전  대덕구     3
57673  울산   중구     1
57674  울산   남구     6
57675  울산   동구     1

In [6]:
# 05

newdf = df
newdf["부상자수"] = df.중상자수 + df.경상자수 + df.부상신고자수
newdf["사고당부상자수"] = round((df.부상자수 / df.사고건수), 1)
newdf.sort_values(by="부상자수", ascending=False)

       발생월  발생일  시도  시군구  사고건수  사망자수  중상자수  경상자수  부상신고자수  부상자수  사고당부상자수
35048    8   12  경남  거제시     5     0    24    44       0    68     13.6
22832    5   28  경기  수원시    27     0    11    39      17    67      2.5
2083     1   15  경기  용인시     7     0    16    39       6    61      8.7
43553   10    4  경기  성남시    19     0    12    23      22    57      3.0
3883     1   27  경기  수원시    27     0    11    41       3    55      2.0
...    ...  ...  ..  ...   ...   ...   ...   ...     ...   ...      ...
56796   12   26  부산   서구     1     1     0     0       0     0      0.0
807      1    6  전북  정읍시     1     1     0     0       0     0      0.0
899      1    7  부산  수영구     1     1     0     0       0     0      0.0
1100     1    8  경북  성주군     1     1     0     0       0     0      0.0
56261   12   22  전남  해남군     1     1     0     0       0     0      0.0

[57676 rows x 11 columns]

In [7]:
# 06

chungju = df[df.시군구 == "충주시"]
chungju

       발생월  발생일  시도  시군구  사고건수  사망자수  중상자수  경상자수  부상신고자수  부상자수  사고당부상자수
59       1    1  충북  충주시     3     0     1     3       0     4      1.3
195      1    2  충북  충주시     3     0     1     2       0     3      1.0
341      1    3  충북  충주시     4     0     2     6       0     8      2.0
489      1    4  충북  충주시     2     0     2     2       0     4      2.0
639      1    5  충북  충주시     3     0     2     6       0     8      2.7
...    ...  ...  ..  ...   ...   ...   ...   ...     ...   ...      ...
57004   12   27  충북  충주시     2     0     2     0       0     2      1.0
57153   12   28  충북  충주시     2     0     0     2       0     2      1.0
57283   12   29  충북  충주시     1     0     0     1       0     1      1.0
57420   12   30  충북  충주시     7     0     2     7       0     9      1.3
57581   12   31  충북  충주시     2     0     0     4       0     4      2.0

[337 rows x 11 columns]

In [8]:
# 07

cj = chungju.iloc[:, 4:11]
cj.head(5)

     사고건수  사망자수  중상자수  경상자수  부상신고자수  부상자수  사고당부상자수
59      3     0     1     3       0     4      1.3
195     3     0     1     2       0     3      1.0
341     4     0     2     6       0     8      2.0
489     2     0     2     2       0     4      2.0
639     3     0     2     6       0     8      2.7

In [9]:
# 08

round(cj.describe(), 2)

         사고건수    사망자수    중상자수    경상자수  부상신고자수    부상자수  사고당부상자수
count  337.00  337.00  337.00  337.00  337.00  337.00   337.00
mean     3.28    0.04    0.86    4.04    0.05    4.95     1.50
std      1.70    0.22    1.03    2.81    0.27    3.18     0.66
min      1.00    0.00    0.00    0.00    0.00    1.00     0.50
25%      2.00    0.00    0.00    2.00    0.00    2.00     1.00
50%      3.00    0.00    1.00    4.00    0.00    4.00     1.30
75%      4.00    0.00    1.00    6.00    0.00    7.00     1.80
max     12.00    2.00    9.00   18.00    3.00   26.00     6.00

In [10]:
# 09

cj.agg(['min', 'median', 'mean', 'max'])

             사고건수     사망자수      중상자수       경상자수    부상신고자수       부상자수   사고당부상자수
min      1.000000  0.00000  0.000000   0.000000  0.000000   1.000000  0.500000
median   3.000000  0.00000  1.000000   4.000000  0.000000   4.000000  1.300000
mean     3.278932  0.04451  0.857567   4.035608  0.053412   4.946588  1.502671
max     12.000000  2.00000  9.000000  18.000000  3.000000  26.000000  6.000000

In [11]:
# 10 

round(cj[['사고건수', '부상자수', '사고당부상자수']].agg(['min', 'median', 'mean', 'max', 'sum']), 2)

           사고건수     부상자수  사고당부상자수
min        1.00     1.00      0.5
median     3.00     4.00      1.3
mean       3.28     4.95      1.5
max       12.00    26.00      6.0
sum     1105.00  1667.00    506.4

In [12]:
# 11

gw = df[df.시도 == '강원']
gw.value_counts('시군구')

시군구
원주시    355
춘천시    351
강릉시    303
속초시    215
동해시    183
태백시    162
삼척시    157
홍천군    150
평창군    145
정선군    138
영월군    134
횡성군    133
양양군    120
화천군     97
고성군     85
철원군     82
인제군     74
양구군     54
Name: count, dtype: int64

In [13]:
# 12

pd.pivot_table(gw, index='시군구', columns='발생월', 
               values='사고건수', aggfunc='sum', margins=True)

발생월    1    2    3    4    5    6    7    8    9   10   11   12   All
시군구
강릉시   52   55   54   62   63   61   51   62   48   65   52   41   666
고성군    7    7   10    4    8    6    6   10    8   13   11    6    96
동해시   25   13   23   18   27   23   28   20   23   26   22   18   266
삼척시    8   13   19   16   21   17   19   32   16   11   18   11   201
속초시   28   29   25   31   33   29   28   31   24   30   21   29   338
양구군    5    3    2    5    4    5    9    4    5    6    4    6    58
양양군   10   13    9   10   13   13   13   19   14   15    9   10   148
영월군    7    9   12   17   18   15   21   18   20   16   10   11   174
원주시   98   92   90  111  101  104  109  141  126  125  127  121  1345
인제군    2    4    5    7    6    9    9    9    6   11    8    7    83
정선군    8   13   16    9   17   15   17   22   12   15   12   16   172
철원군    3    4    6    6    9    4    6   15   10   12   11    8    94
춘천시   85   97  106  125  136   98  124  130  126  120  138  109  1394
태백시   13   13   19   16   23   21   17   28   25   27   17   11   230
평창군   23    5    9   11   23   27   21   17   13   20   14   11   194
홍천군   10    6   17   12   14   19   27   31   18   17   13   15   199
화천군    7    9    5    9   11    8    9    9   14   15    9    4   109
횡성군   10    7   14   18   26   14   14   17   16   14    4    9   163
All  401  392  441  487  553  488  528  615  524  558  500  443  5930

In [14]:
# 13

cityName = ["원주시", "춘천시", "강릉시", "속초시", "동해시", "태백시", "삼척시"]
city = gw[(gw.시군구).isin(cityName)]
city

       발생월  발생일  시도  시군구  사고건수  사망자수  중상자수  경상자수  부상신고자수  부상자수  사고당부상자수
52       1    1  강원  원주시     3     0     0     5       0     5      1.7
53       1    1  강원  강릉시     3     0     0     3       0     3      1.0
54       1    1  강원  속초시     2     0     1     1       0     2      1.0
189      1    2  강원  춘천시     2     0     2     0       0     2      1.0
190      1    2  강원  원주시     3     0     3     1       0     4      1.3
...    ...  ...  ..  ...   ...   ...   ...   ...     ...   ...      ...
57573   12   31  강원  춘천시     3     0     2     0       1     3      1.0
57574   12   31  강원  원주시     8     0     4     9       0    13      1.6
57575   12   31  강원  동해시     2     0     2     2       0     4      2.0
57576   12   31  강원  강릉시     4     0     1     5       0     6      1.5
57577   12   31  강원  속초시     1     0     0     2       0     2      2.0

[1726 rows x 11 columns]

In [15]:
# 14

grp = city.groupby('시군구')
grp[['사고건수', '경상자수']].agg('sum')

     사고건수  경상자수
시군구
강릉시   666   771
동해시   266   261
삼척시   201   232
속초시   338   356
원주시  1345  1520
춘천시  1394  1231
태백시   230   284

In [16]:
# 15

grp = city.groupby('시군구')
round(grp[['사고건수', '경상자수']].agg('mean'),2)

     사고건수  경상자수
시군구
강릉시  2.20  2.54
동해시  1.45  1.43
삼척시  1.28  1.48
속초시  1.57  1.66
원주시  3.79  4.28
춘천시  3.97  3.51
태백시  1.42  1.75

In [17]:
# 16

grp = city.groupby("시군구")
grp[['사고건수', '경상자수']].agg(['count', 'min', 'median', 'mean', 'max', 'sum'])

     사고건수                                 경상자수
    count min median      mean max   sum count min median      mean max   sum
시군구
강릉시   303   1    2.0  2.198020   7   666   303   0    2.0  2.544554  25   771
동해시   183   1    1.0  1.453552   4   266   183   0    1.0  1.426230   5   261
삼척시   157   1    1.0  1.280255   4   201   157   0    1.0  1.477707  12   232
속초시   215   1    1.0  1.572093   4   338   215   0    1.0  1.655814  10   356
원주시   355   1    3.0  3.788732  12  1345   355   0    4.0  4.281690  16  1520
춘천시   351   1    4.0  3.971510  12  1394   351   0    3.0  3.507123  16  1231
태백시   162   1    1.0  1.419753   5   230   162   0    1.0  1.753086  12   284

In [18]:
# 17 도전문제
# 서울에는 25개의 구가 있고, 2024년은 윤년으로 366일이다. 25개 구 중에 1년 동안 사고가 가장 많은 구의 사고 날은 365일이다. 
# 해당 구는 즉 1년 중 사고가 없는 날이 딱 1일인 구가 있다.
# 사고가 나지 않은 날이 1년에 1일뿐인 구를 모두 찾아 예시와같이 나타내시오.

seoul = df[df.시도 == '서울']
seoul

       발생월  발생일  시도   시군구  사고건수  사망자수  중상자수  경상자수  부상신고자수  부상자수  사고당부상자수
0        1    1  서울    중구     4     0     2     5       0     7      1.8
1        1    1  서울   용산구     1     0     2     0       0     2      2.0
2        1    1  서울   성동구     1     0     0     1       0     1      1.0
3        1    1  서울  동대문구     1     0     0     1       0     1      1.0
4        1    1  서울   성북구     3     0     1     2       0     3      1.0
...    ...  ...  ..   ...   ...   ...   ...   ...     ...   ...      ...
57527   12   31  서울   중랑구     3     0     2     2       0     4      1.3
57528   12   31  서울   노원구     4     0     1     5       0     6      1.5
57529   12   31  서울   광진구     2     0     0     3       0     3      1.5
57530   12   31  서울   강북구     3     0     1     5       0     6      2.0
57531   12   31  서울   금천구     4     0     1     6       0     7      1.8

[8610 rows x 11 columns]

In [19]:
seoul[seoul.사고건수 == 0] # 결과 없음 (사고가 난 날만 기록됨.)

Empty DataFrame
Columns: [발생월, 발생일, 시도, 시군구, 사고건수, 사망자수, 중상자수, 경상자수, 부상신고자수, 부상자수, 사고당부상자수]
Index: []

In [20]:
grp = seoul.groupby(['시군구'])
seoul1 = grp['사고건수'].agg('count').reset_index()
seoul1[seoul1.사고건수 == 365]

     시군구  사고건수
0    강남구   365
17   송파구   365
19  영등포구   365

In [21]:
# 표본 재생성
seoul2 = seoul[(seoul.시군구 == '강남구') |
                (seoul.시군구 == '송파구') | 
                (seoul.시군구 == '영등포구')]

seoul2

       발생월  발생일  시도   시군구  사고건수  사망자수  중상자수  경상자수  부상신고자수  부상자수  사고당부상자수
7        1    1  서울  영등포구     1     0     0     1       0     1      1.0
9        1    1  서울   강남구     4     0     0     4       0     4      1.0
11       1    1  서울   송파구     2     0     2     2       2     6      3.0
139      1    2  서울  영등포구     1     0     0     1       0     1      1.0
142      1    2  서울   강남구     6     0     2     7       1    10      1.7
...    ...  ...  ..   ...   ...   ...   ...   ...     ...   ...      ...
57362   12   30  서울   강남구    11     0     1    10       2    13      1.2
57364   12   30  서울   송파구     4     0     1     3       0     4      1.0
57519   12   31  서울  영등포구     4     0     1     6       0     7      1.8
57522   12   31  서울   강남구    14     0     5    15       1    21      1.5
57524   12   31  서울   송파구     8     0     1    10       4    15      1.9

[1095 rows x 11 columns]

In [22]:
grp1 = seoul2.groupby(['시군구', '발생월'])
seoul3 = grp1['발생일'].agg('sum').reset_index()

seoul3.columns = ['시군구', '발생월', '발생일합']
seoul3

     시군구  발생월  발생일합
0    강남구    1   496
1    강남구    2   435
2    강남구    3   493
3    강남구    4   465
4    강남구    5   496
5    강남구    6   465
6    강남구    7   496
7    강남구    8   496
8    강남구    9   465
9    강남구   10   496
10   강남구   11   465
11   강남구   12   496
12   송파구    1   496
13   송파구    2   435
14   송파구    3   496
15   송파구    4   465
16   송파구    5   496
17   송파구    6   465
18   송파구    7   478
19   송파구    8   496
20   송파구    9   465
21   송파구   10   496
22   송파구   11   465
23   송파구   12   496
24  영등포구    1   496
25  영등포구    2   435
26  영등포구    3   494
27  영등포구    4   465
28  영등포구    5   496
29  영등포구    6   465
30  영등포구    7   496
31  영등포구    8   496
32  영등포구    9   465
33  영등포구   10   496
34  영등포구   11   465
35  영등포구   12   496

In [23]:
cond = ( ( ( seoul3['발생월'].isin([1,3,5,7,8,10,12]) ) & ( seoul3['발생일합'] != sum(range(1,32)) ) ) | # 31일까지 있는 month
        ( ( seoul3['발생월'].isin([2]) ) & ( seoul3['발생일합'] != sum(range(1,30)) ) ) | # 윤년 2월은 29일까지
        ( ( seoul3['발생월'].isin([4,6,9,11]) ) & ( seoul3['발생일합'] != sum(range(1,31)) ) ) ) # 30일까지 있는 month

seoul3[cond] # 강남구 3월, 송파구 7월, 영등포구 3월

     시군구  발생월  발생일합
2    강남구    3   493
18   송파구    7   478
26  영등포구    3   494

In [24]:
df2 = seoul3[cond].copy()
df2['사고 발생하지 않은 날'] = sum(range(1,32)) - df2.iloc[:,2]
df2

     시군구  발생월  발생일합  사고 발생하지 않은 날
2    강남구    3   493             3
18   송파구    7   478            18
26  영등포구    3   494             2

In [ ]:
seoul[ (seoul.시군구 == '강남구') & (seoul.발생월 == 3) & (seoul['발생일'] == 3) ]
seoul[ (seoul.시군구 == '송파구') & (seoul.발생월 == 7) & (seoul['발생일'] == 18) ]
seoul[ (seoul.시군구 == '영등포구') & (seoul.발생월 == 3) & (seoul['발생일'] == 2) ]

Empty DataFrame
Columns: [발생월, 발생일, 시도, 시군구, 사고건수, 사망자수, 중상자수, 경상자수, 부상신고자수, 부상자수, 사고당부상자수]
Index: []

In [26]:
gn = seoul[ (seoul.시군구 == '강남구') & (seoul.발생월 == 3) & (seoul['발생일'].isin([2,4])) ]
sp = seoul[ (seoul.시군구 == '송파구') & (seoul.발생월 == 7) & (seoul['발생일'].isin([17,19])) ]
ydp = seoul[ (seoul.시군구 == '영등포구') & (seoul.발생월 == 3) & (seoul['발생일'].isin([1,3])) ]

final = pd.concat([gn,sp,ydp], axis=0, ignore_index=True)
final

   발생월  발생일  시도   시군구  사고건수  사망자수  중상자수  경상자수  부상신고자수  부상자수  사고당부상자수
0    3    2  서울   강남구     2     0     0     2       0     2      1.0
1    3    4  서울   강남구     7     0     3     4       0     7      1.0
2    7   17  서울   송파구     3     0     0     4       0     4      1.3
3    7   19  서울   송파구     8     0     0     9       0     9      1.1
4    3    1  서울  영등포구     7     0     2     5       1     8      1.1
5    3    3  서울  영등포구     2     0     0     4       0     4      2.0

In [27]:
# 17 최종 코드

seoul = df[df.시도 == '서울']

grp = seoul.groupby(['시군구'])
seoul1 = grp['사고건수'].agg('count').reset_index()
seoul1[seoul1.사고건수 == 365]

seoul2 = seoul[(seoul.시군구 == '강남구') |
                (seoul.시군구 == '송파구') | 
                (seoul.시군구 == '영등포구')]
grp1 = seoul2.groupby(['시군구', '발생월'])

seoul3 = grp1['발생일'].agg('sum').reset_index()
seoul3.columns = ['시군구', '발생월', '발생일합']
seoul3

cond = ( ( ( seoul3['발생월'].isin([1,3,5,7,8,10,12]) ) & ( seoul3['발생일합'] != sum(range(1,32)) ) ) |
        ( ( seoul3['발생월'].isin([2]) ) & ( seoul3['발생일합'] != sum(range(1,30)) ) ) |
        ( ( seoul3['발생월'].isin([4,6,9,11]) ) & ( seoul3['발생일합'] != sum(range(1,31)) ) ) )

seoul3[cond] 
df2 = seoul3[cond].copy()
df2['사고 발생하지 않은 날'] = sum(range(1,32)) - df2.iloc[:,2]
df2

gn = seoul[ (seoul.시군구 == '강남구') & (seoul.발생월 == 3) & (seoul['발생일'].isin([2,4])) ]
sp = seoul[ (seoul.시군구 == '송파구') & (seoul.발생월 == 7) & (seoul['발생일'].isin([17,19])) ]
ydp = seoul[ (seoul.시군구 == '영등포구') & (seoul.발생월 == 3) & (seoul['발생일'].isin([1,3])) ]

final = pd.concat([gn,sp,ydp], axis=0, ignore_index=True)
final

   발생월  발생일  시도   시군구  사고건수  사망자수  중상자수  경상자수  부상신고자수  부상자수  사고당부상자수
0    3    2  서울   강남구     2     0     0     2       0     2      1.0
1    3    4  서울   강남구     7     0     3     4       0     7      1.0
2    7   17  서울   송파구     3     0     0     4       0     4      1.3
3    7   19  서울   송파구     8     0     0     9       0     9      1.1
4    3    1  서울  영등포구     7     0     2     5       1     8      1.1
5    3    3  서울  영등포구     2     0     0     4       0     4      2.0