In [2]:
import pandas as pd

data = pd.read_excel("한국도로교통공단_일자별 시군구별 교통사고 통계_20241231.xlsx")
data

       발생월  발생일  시도   시군구  사고건수  사망자수  중상자수  경상자수  부상신고자수
0        1    1  서울    중구     4     0     2     5       0
1        1    1  서울   용산구     1     0     2     0       0
2        1    1  서울   성동구     1     0     0     1       0
3        1    1  서울  동대문구     1     0     0     1       0
4        1    1  서울   성북구     3     0     1     2       0
...    ...  ...  ..   ...   ...   ...   ...   ...     ...
57671   12   31  대전   유성구     5     0     3     3       0
57672   12   31  대전   대덕구     3     0     1     6       0
57673   12   31  울산    중구     1     0     0     0       1
57674   12   31  울산    남구     6     0     3     3       0
57675   12   31  울산    동구     1     0     2     0       0

[57676 rows x 9 columns]

In [7]:
jung = data[data.시군구 == "중구"]
jung

       발생월  발생일  시도 시군구  사고건수  사망자수  중상자수  경상자수  부상신고자수
0        1    1  서울  중구     4     0     2     5       0
104      1    1  대구  중구     2     1     0     1       0
111      1    1  인천  중구     1     0     1     0       0
125      1    1  울산  중구     2     0     0     2       0
130      1    2  서울  중구     5     0     0     5       0
...    ...  ...  ..  ..   ...   ...   ...   ...     ...
57532   12   31  부산  중구     1     0     0     1       0
57648   12   31  대구  중구     5     0     0     4       2
57656   12   31  인천  중구     1     0     0     0       1
57669   12   31  대전  중구     1     0     0     2       0
57673   12   31  울산  중구     1     0     0     0       1

[1851 rows x 9 columns]

In [9]:
data['시도시군구'] = data.시도 + " " + data.시군구
data

       발생월  발생일  시도   시군구  사고건수  사망자수  중상자수  경상자수  부상신고자수    시도시군구
0        1    1  서울    중구     4     0     2     5       0    서울 중구
1        1    1  서울   용산구     1     0     2     0       0   서울 용산구
2        1    1  서울   성동구     1     0     0     1       0   서울 성동구
3        1    1  서울  동대문구     1     0     0     1       0  서울 동대문구
4        1    1  서울   성북구     3     0     1     2       0   서울 성북구
...    ...  ...  ..   ...   ...   ...   ...   ...     ...      ...
57671   12   31  대전   유성구     5     0     3     3       0   대전 유성구
57672   12   31  대전   대덕구     3     0     1     6       0   대전 대덕구
57673   12   31  울산    중구     1     0     0     0       1    울산 중구
57674   12   31  울산    남구     6     0     3     3       0    울산 남구
57675   12   31  울산    동구     1     0     2     0       0    울산 동구

[57676 rows x 10 columns]

In [11]:
newdata = data.iloc[:, [0,4,5,6,7,8,9]]
newdata

       발생월  사고건수  사망자수  중상자수  경상자수  부상신고자수    시도시군구
0        1     4     0     2     5       0    서울 중구
1        1     1     0     2     0       0   서울 용산구
2        1     1     0     0     1       0   서울 성동구
3        1     1     0     0     1       0  서울 동대문구
4        1     3     0     1     2       0   서울 성북구
...    ...   ...   ...   ...   ...     ...      ...
57671   12     5     0     3     3       0   대전 유성구
57672   12     3     0     1     6       0   대전 대덕구
57673   12     1     0     0     0       1    울산 중구
57674   12     6     0     3     3       0    울산 남구
57675   12     1     0     2     0       0    울산 동구

[57676 rows x 7 columns]

In [20]:
# 그룹바이는 인덱스 여러개 지정 가능 (== SQL처럼..)
grp = newdata.groupby(["발생월", "시도시군구"])
result = grp.sum()
result = result.reset_index()

result[['시도', '시군구']] = result['시도시군구'].str.split(" ", expand=True)
result

      발생월   시도시군구  사고건수  사망자수  중상자수  경상자수  부상신고자수  시도  시군구
0       1  강원 강릉시    52     1     9    57       0  강원  강릉시
1       1  강원 고성군     7     0     4     4       0  강원  고성군
2       1  강원 동해시    25     0     7    25       0  강원  동해시
3       1  강원 삼척시     8     0     5     4       0  강원  삼척시
4       1  강원 속초시    28     0     9    35       0  강원  속초시
...   ...     ...   ...   ...   ...   ...     ...  ..  ...
2735   12  충북 제천시    75     0    16    73      12  충북  제천시
2736   12  충북 증평군     8     0     3     6       0  충북  증평군
2737   12  충북 진천군    56     1    10    56       0  충북  진천군
2738   12  충북 청주시   343     6    65   424      22  충북  청주시
2739   12  충북 충주시    83     0    23   104       1  충북  충주시

[2740 rows x 9 columns]

In [23]:
#NaN : 데이터가 없어서 결측치로 표시되는 것 : 시스템 결측치

data = pd.read_excel("K팀 대학 생활 만족도 설문(응답).xlsx")
data

,id,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10
0,1,남자,3학년,인사대,6,그렇다,보통,불만족,만족,3,학생회
1,2,여자,1학년,디자인대,6,그렇다,만족,만족,보통,3,아직은 모르겠다.
2,3,여자,1학년,과기대,6,그렇다,보통,보통,보통,4,모람제
3,4,여자,1학년,인사대,5,보통,만족,매우 불만족,보통,3,아직 없는듯
4,5,남자,1학년,과기대,6,그렇다,매우 불만족,매우 만족,만족,4,"동아리,소모임"
5,6,여자,1학년,디자인대,6,그렇다,만족,보통,만족,4,개강총회
6,7,여자,1학년,디자인대,6,그렇다,매우 만족,보통,보통,3,아직...없다
7,8,남자,1학년,인사대,6,그렇다,만족,만족,매우 만족,4,OT
8,9,남자,1학년,디자인대,6,매우 그렇다,매우 만족,매우 만족,매우 만족,5,술
9,10,남자,1학년,과기대,6,NaN,만족,매우 만족,매우 만족,5,아직 많은 활동을 하지않음.
10,11,여자,1학년,과기대,6,그렇다,불만족,만족,보통,9,없다.
11,12,여자,2학년,딘자인대,6,그렇다,불만족,불만족,보통,3,전공수업
12,13,여자,2학년,디자인대,7,그렇다,보통,불만족,보통,3,헬퍼
13,14,여자,1학년,인사대,999,보통,NaN,만족,만족,3,없다
14,15,여자,1학년,과기대,999,그렇다,불만족,보통,만족,4,모람제 푸드트럭
15,16,여자,1학년,인사대,999,보통,매우 만족,만족,보통,9,술
16,17,여자,1학년,과기대,6,그렇다,NaN,보통,보통,3,아직없당
17,18,남자,1학년,과기대,5,매우 그렇다,만족,매우 만족,매우 만족,5,기숙사 형들과 재밌게 노는 일
18,19,여자,3학년,디자인대,8,그렇다,불만족,보통,보통,3,전공
19,20,여자,1학년,과기대,6,보통,만족,만족,매우 만족,3,학생회
20,21,남자,1학년,디자인대,6,그렇다,불만족,만족,만족,4,.
21,22,남자,1학년,과기대,6,그렇다,만족,보통,보통,3,OT
22,23,여자,1학년,과기대,6,매우 그렇다,보통,만족,만족,5,OT
23,24,여자,2학년,디자인대,6,그렇지 않다,매우 불만족,보통,보통,3,체육대회
24,25,여자,1학년,과기대,6,그렇다,매우 만족,만족,보통,4,아직 없다
25,26,남자,1학년,과기대,6,보통,만족,보통,불만족,3,과제
26,27,여자,1학년,과기대,6,그렇다,만족,만족,만족,4,MT (마시고 토하고)
27,28,남자,1학년,과기대,8,그렇다,불만족,만족,매우 불만족,3,OT
28,29,여자,1학년,과기대,6,그렇다,만족,만족,만족,3,오티
29,30,여자,3학년,인사대,7,보통,매우 불만족,보통,매우 불만족,1,단기연수
30,31,남자,1학년,과기대,6,매우 그렇다,만족,만족,보통,4,없음
31,32,여자,1학년,과기대,6,그렇다,보통,보통,만족,4,기리보이
32,33,남자,1학년,과기대,6,매우 그렇다,매우 불만족,매우 만족,보통,4,개강총회
33,34,여자,1학년,과기대,6,그렇다,불만족,만족,만족,4,오티
34,35,여자,3학년,인사대,8,그렇다,매우 불만족,매우 불만족,매우 불만족,3,아직없음
35,36,남자,1학년,과기대,5,그렇다,보통,보통,보통,3,푸드트럭
36,37,남자,1학년,과기대,7,그렇다,보통,만족,만족,4,학과 친구들과 운동하는 것
37,38,여자,1학년,인사대,5,보통,매우 만족,만족,보통,3,아직없다
38,39,여자,1학년,과기대,6,그렇다,불만족,만족,보통,4,ot
39,40,여자,1학년,과기대,6,그렇다,만족,만족,만족,3,오티
40,41,여자,3학년,인사대,6,그렇다,불만족,만족,만족,3,학생회

In [25]:
data.isna().sum()

id     0
Q1     0
Q2     0
Q3     0
Q4     0
Q5     1
Q6     2
Q7     0
Q8     0
Q9     0
Q10    0
dtype: int64

In [28]:
idx1 = data[data.Q4 == 999].index
idx1

Index([13, 14, 15], dtype='int64')

In [30]:
data.loc[idx1, 'Q4'] = None
data

,id,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10
0,1,남자,3학년,인사대,6.0,그렇다,보통,불만족,만족,3,학생회
1,2,여자,1학년,디자인대,6.0,그렇다,만족,만족,보통,3,아직은 모르겠다.
2,3,여자,1학년,과기대,6.0,그렇다,보통,보통,보통,4,모람제
3,4,여자,1학년,인사대,5.0,보통,만족,매우 불만족,보통,3,아직 없는듯
4,5,남자,1학년,과기대,6.0,그렇다,매우 불만족,매우 만족,만족,4,"동아리,소모임"
5,6,여자,1학년,디자인대,6.0,그렇다,만족,보통,만족,4,개강총회
6,7,여자,1학년,디자인대,6.0,그렇다,매우 만족,보통,보통,3,아직...없다
7,8,남자,1학년,인사대,6.0,그렇다,만족,만족,매우 만족,4,OT
8,9,남자,1학년,디자인대,6.0,매우 그렇다,매우 만족,매우 만족,매우 만족,5,술
9,10,남자,1학년,과기대,6.0,NaN,만족,매우 만족,매우 만족,5,아직 많은 활동을 하지않음.
10,11,여자,1학년,과기대,6.0,그렇다,불만족,만족,보통,9,없다.
11,12,여자,2학년,딘자인대,6.0,그렇다,불만족,불만족,보통,3,전공수업
12,13,여자,2학년,디자인대,7.0,그렇다,보통,불만족,보통,3,헬퍼
13,14,여자,1학년,인사대,NaN,보통,NaN,만족,만족,3,없다
14,15,여자,1학년,과기대,NaN,그렇다,불만족,보통,만족,4,모람제 푸드트럭
15,16,여자,1학년,인사대,NaN,보통,매우 만족,만족,보통,9,술
16,17,여자,1학년,과기대,6.0,그렇다,NaN,보통,보통,3,아직없당
17,18,남자,1학년,과기대,5.0,매우 그렇다,만족,매우 만족,매우 만족,5,기숙사 형들과 재밌게 노는 일
18,19,여자,3학년,디자인대,8.0,그렇다,불만족,보통,보통,3,전공
19,20,여자,1학년,과기대,6.0,보통,만족,만족,매우 만족,3,학생회
20,21,남자,1학년,디자인대,6.0,그렇다,불만족,만족,만족,4,.
21,22,남자,1학년,과기대,6.0,그렇다,만족,보통,보통,3,OT
22,23,여자,1학년,과기대,6.0,매우 그렇다,보통,만족,만족,5,OT
23,24,여자,2학년,디자인대,6.0,그렇지 않다,매우 불만족,보통,보통,3,체육대회
24,25,여자,1학년,과기대,6.0,그렇다,매우 만족,만족,보통,4,아직 없다
25,26,남자,1학년,과기대,6.0,보통,만족,보통,불만족,3,과제
26,27,여자,1학년,과기대,6.0,그렇다,만족,만족,만족,4,MT (마시고 토하고)
27,28,남자,1학년,과기대,8.0,그렇다,불만족,만족,매우 불만족,3,OT
28,29,여자,1학년,과기대,6.0,그렇다,만족,만족,만족,3,오티
29,30,여자,3학년,인사대,7.0,보통,매우 불만족,보통,매우 불만족,1,단기연수
30,31,남자,1학년,과기대,6.0,매우 그렇다,만족,만족,보통,4,없음
31,32,여자,1학년,과기대,6.0,그렇다,보통,보통,만족,4,기리보이
32,33,남자,1학년,과기대,6.0,매우 그렇다,매우 불만족,매우 만족,보통,4,개강총회
33,34,여자,1학년,과기대,6.0,그렇다,불만족,만족,만족,4,오티
34,35,여자,3학년,인사대,8.0,그렇다,매우 불만족,매우 불만족,매우 불만족,3,아직없음
35,36,남자,1학년,과기대,5.0,그렇다,보통,보통,보통,3,푸드트럭
36,37,남자,1학년,과기대,7.0,그렇다,보통,만족,만족,4,학과 친구들과 운동하는 것
37,38,여자,1학년,인사대,5.0,보통,매우 만족,만족,보통,3,아직없다
38,39,여자,1학년,과기대,6.0,그렇다,불만족,만족,보통,4,ot
39,40,여자,1학년,과기대,6.0,그렇다,만족,만족,만족,3,오티
40,41,여자,3학년,인사대,6.0,그렇다,불만족,만족,만족,3,학생회

In [33]:
data.isna().sum()

id     0
Q1     0
Q2     0
Q3     0
Q4     3
Q5     1
Q6     2
Q7     0
Q8     0
Q9     0
Q10    0
dtype: int64

In [35]:
# count 할 때, Nan 있어도 구할 수 있음. 제거하지 않아도, 알아서 제거 후 값 계산 가능 (count 자동 반영)
data['Q4'].agg(['count', 'mean'])

count    38.000000
mean      6.131579
Name: Q4, dtype: float64

In [37]:
pd.crosstab(data.Q4, columns='빈도', margins=True, dropna=False)

col_0  빈도   All
Q4
5.0     4   4.0
6.0    28  28.0
7.0     3   3.0
8.0     3   3.0
NaN     3   NaN
All    41  41.0

In [38]:
data = pd.read_excel("2025년7월-10월대기오염도.xlsx")
data

             date  시도  시군구 point  pm10  pm25
0      2025-07-01  전남  순천시   호두리   8.0   4.0
1      2025-07-01  경기  고양시   행신동  14.0  10.0
2      2025-07-01  경기  안산시   고잔동   8.0   6.0
3      2025-07-01  전북  전주시   팔복동  11.0   5.0
4      2025-07-01  경북  영양군   영양군  10.0   5.0
...           ...  ..  ...   ...   ...   ...
77735  2025-10-31  강원  삼척시  남양동1  25.0  14.0
77736  2025-10-31  서울  관악구   관악구  32.0  21.0
77737  2025-10-31  경기  안산시   호수동  38.0  24.0
77738  2025-10-31  전남  영광군   영광읍  38.0  25.0
77739  2025-10-31  경북  봉화군  봉화군청  26.0  16.0

[77740 rows x 6 columns]