In [6]:
import pandas as pd

# if exel 파일 안에 sheet가 여러개 있다면 default 첫 번째 sheet open
# 범주형(빈도, 도수분포표)  , 연속형 자료(숫자로 들어오는 자료) 
data = pd.read_excel("K팀 대학 생활 만족도 설문(응답).xlsx")
data

,id,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10
0,1,남자,3학년,인사대,6,그렇다,보통,불만족,만족,3,학생회
1,2,여자,1학년,디자인대,6,그렇다,만족,만족,보통,3,아직은 모르겠다.
2,3,여자,1학년,과기대,6,그렇다,보통,보통,보통,4,모람제
3,4,여자,1학년,인사대,5,보통,만족,매우 불만족,보통,3,아직 없는듯
4,5,남자,1학년,과기대,6,그렇다,매우 불만족,매우 만족,만족,4,"동아리,소모임"
5,6,여자,1학년,디자인대,6,그렇다,만족,보통,만족,4,개강총회
6,7,여자,1학년,디자인대,6,그렇다,매우 만족,보통,보통,3,아직...없다
7,8,남자,1학년,인사대,6,그렇다,만족,만족,매우 만족,4,OT
8,9,남자,1학년,디자인대,6,매우 그렇다,매우 만족,매우 만족,매우 만족,5,술
9,10,남자,1학년,과기대,6,NaN,만족,매우 만족,매우 만족,5,아직 많은 활동을 하지않음.
10,11,여자,1학년,과기대,6,그렇다,불만족,만족,보통,9,없다.
11,12,여자,2학년,딘자인대,6,그렇다,불만족,불만족,보통,3,전공수업
12,13,여자,2학년,디자인대,7,그렇다,보통,불만족,보통,3,헬퍼
13,14,여자,1학년,인사대,999,보통,NaN,만족,만족,3,없다
14,15,여자,1학년,과기대,999,그렇다,불만족,보통,만족,4,모람제 푸드트럭
15,16,여자,1학년,인사대,999,보통,매우 만족,만족,보통,9,술
16,17,여자,1학년,과기대,6,그렇다,NaN,보통,보통,3,아직없당
17,18,남자,1학년,과기대,5,매우 그렇다,만족,매우 만족,매우 만족,5,기숙사 형들과 재밌게 노는 일
18,19,여자,3학년,디자인대,8,그렇다,불만족,보통,보통,3,전공
19,20,여자,1학년,과기대,6,보통,만족,만족,매우 만족,3,학생회
20,21,남자,1학년,디자인대,6,그렇다,불만족,만족,만족,4,.
21,22,남자,1학년,과기대,6,그렇다,만족,보통,보통,3,OT
22,23,여자,1학년,과기대,6,매우 그렇다,보통,만족,만족,5,OT
23,24,여자,2학년,디자인대,6,그렇지 않다,매우 불만족,보통,보통,3,체육대회
24,25,여자,1학년,과기대,6,그렇다,매우 만족,만족,보통,4,아직 없다
25,26,남자,1학년,과기대,6,보통,만족,보통,불만족,3,과제
26,27,여자,1학년,과기대,6,그렇다,만족,만족,만족,4,MT (마시고 토하고)
27,28,남자,1학년,과기대,8,그렇다,불만족,만족,매우 불만족,3,OT
28,29,여자,1학년,과기대,6,그렇다,만족,만족,만족,3,오티
29,30,여자,3학년,인사대,7,보통,매우 불만족,보통,매우 불만족,1,단기연수
30,31,남자,1학년,과기대,6,매우 그렇다,만족,만족,보통,4,없음
31,32,여자,1학년,과기대,6,그렇다,보통,보통,만족,4,기리보이
32,33,남자,1학년,과기대,6,매우 그렇다,매우 불만족,매우 만족,보통,4,개강총회
33,34,여자,1학년,과기대,6,그렇다,불만족,만족,만족,4,오티
34,35,여자,3학년,인사대,8,그렇다,매우 불만족,매우 불만족,매우 불만족,3,아직없음
35,36,남자,1학년,과기대,5,그렇다,보통,보통,보통,3,푸드트럭
36,37,남자,1학년,과기대,7,그렇다,보통,만족,만족,4,학과 친구들과 운동하는 것
37,38,여자,1학년,인사대,5,보통,매우 만족,만족,보통,3,아직없다
38,39,여자,1학년,과기대,6,그렇다,불만족,만족,보통,4,ot
39,40,여자,1학년,과기대,6,그렇다,만족,만족,만족,3,오티
40,41,여자,3학년,인사대,6,그렇다,불만족,만족,만족,3,학생회

In [7]:
# sheet_name 저장 시 해당 sheet 읽기 가능
questions = pd.read_excel("K팀 대학 생활 만족도 설문(응답).xlsx", sheet_name = "설문지")
questions

    번호                            질문
0   Q1                      당신의 성별은?
1   Q2                      당신의 학년은?
2   Q3           당신의 소속 대학과 학과(학부)는?
3   Q4                 수강하는 강좌의 개수는?
4   Q5      우리 학교는 전공지식을 쌓는데 도움을 준다
5   Q6  자신이 원하는 과목을 수강신청 하는데 어려움이 없다
6   Q7    강의를 듣는 데 있어 강의 시설의 불편함이 없다
7   Q8        동기 및 선후배와의 교류 기회가 제공된다
8   Q9  우리학교는 나의 삶의 방향을 제공하는데 도움을 준다
9  Q10          대학에서 가장 인상 깊었던 활동은?

In [8]:
# 윈도우 localencoding (CP949 잘 보임)
# JUPYTER NOTEBOOK (UTF-8)

data = pd.read_csv("서울시대기오염_2025-10(UTF-8).csv")
data

          data point    pm   fpm    ozon
0     20251001   강남구  32.0  20.0  0.0310
1     20251001  강남대로  31.0  20.0  0.0233
2     20251001   강동구  37.0  23.0  0.0359
3     20251001  강변북로  37.0  21.0  0.0189
4     20251001   강북구  27.0  17.0  0.0380
...        ...   ...   ...   ...     ...
1545  20251031  한강대로  50.0  30.0  0.0192
1546  20251031    항동  38.0  26.0  0.0216
1547  20251031    행주  29.0  18.0  0.0251
1548  20251031   홍릉로  35.0  24.0  0.0196
1549  20251031   화랑로  36.0  22.0  0.0191

[1550 rows x 5 columns]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1550 entries, 0 to 1549
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    1550 non-null   int64
 1   point   1550 non-null   object
 2   pm      1550 non-null   float64
 3   fpm     1550 non-null   float64
 4   ozon    1550 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 60.7+ KB

In [10]:
# describe : 기술 통계량 
data.describe()

               data           pm          fpm         ozon
count  1.550000e+03  1550.000000  1550.000000  1550.000000
mean   2.025102e+07    16.994839     8.299355     0.025322
std    8.947159e+00    10.801333     6.757111     0.007360
min    2.025100e+07     3.000000     0.000000     0.006000
25%    2.025101e+07     8.000000     3.000000     0.020400
50%    2.025102e+07    14.000000     6.000000     0.025200
75%    2.025102e+07    26.000000    12.000000     0.029700
max    2.025103e+07    50.000000    33.000000     0.079200

In [11]:
data.columns

Index(['data', 'point', 'pm', 'fpm', 'ozon'], dtype='object')

In [12]:
data.columns = ['date', 'point', 'pm', 'fpm', 'ozon']

In [13]:
data

          date point    pm   fpm    ozon
0     20251001   강남구  32.0  20.0  0.0310
1     20251001  강남대로  31.0  20.0  0.0233
2     20251001   강동구  37.0  23.0  0.0359
3     20251001  강변북로  37.0  21.0  0.0189
4     20251001   강북구  27.0  17.0  0.0380
...        ...   ...   ...   ...     ...
1545  20251031  한강대로  50.0  30.0  0.0192
1546  20251031    항동  38.0  26.0  0.0216
1547  20251031    행주  29.0  18.0  0.0251
1548  20251031   홍릉로  35.0  24.0  0.0196
1549  20251031   화랑로  36.0  22.0  0.0191

[1550 rows x 5 columns]

In [14]:
# 전체 데이터를 25% 간격으로 끊어주는 값 사분위 수 
# std : 표준편차 
# 기본적인 기술 통계량 기술하는 함수

# result = data[['pm', 'fpm', 'ozon']].describe()
# round(result, 2)
round(data[['pm', 'fpm', 'ozon']].describe(), 2) # 가능

            pm      fpm     ozon
count  1550.00  1550.00  1550.00
mean     16.99     8.30     0.03
std      10.80     6.76     0.01
min       3.00     0.00     0.01
25%       8.00     3.00     0.02
50%      14.00     6.00     0.03
75%      26.00    12.00     0.03
max      50.00    33.00     0.08

In [20]:
# iloc = index location, 반드시 가운데 쉼표 기준 행번호, 열번호 
# 평균과 최대 최소 구하고기 위해 연속형 var들만 select
newdata = data.iloc[:, 2:5]
newdata

        pm   fpm    ozon
0     32.0  20.0  0.0310
1     31.0  20.0  0.0233
2     37.0  23.0  0.0359
3     37.0  21.0  0.0189
4     27.0  17.0  0.0380
...    ...   ...     ...
1545  50.0  30.0  0.0192
1546  38.0  26.0  0.0216
1547  29.0  18.0  0.0251
1548  35.0  24.0  0.0196
1549  36.0  22.0  0.0191

[1550 rows x 3 columns]

In [16]:
newdata.mean()

pm      16.994839
fpm      8.299355
ozon     0.025322
dtype: float64

In [17]:
newdata.max()

pm      50.0000
fpm     33.0000
ozon     0.0792
dtype: float64

In [21]:
#aggregate를 이용한 통계량 구하기 
newdata.agg(['mean'])

             pm       fpm      ozon
mean  16.994839  8.299355  0.025322

In [22]:
newdata.agg(['min', 'median', 'mean', 'max'])

               pm        fpm      ozon
min      3.000000   0.000000  0.006000
median  14.000000   6.000000  0.025200
mean    16.994839   8.299355  0.025322
max     50.000000  33.000000  0.079200

In [25]:
round(newdata[['pm', 'fpm']].agg(['min', 'mean', 'max']), 2)

         pm   fpm
min    3.00   0.0
mean  16.99   8.3
max   50.00  33.0

In [30]:
data = pd.read_csv("한국도로교통공단_일자별 시군구별 교통사고 통계_20241231.csv", encoding = "CP949")
data['부상자수'] = data.중상자수 + data.경상자수 + data.부상신고자수
data

       발생월  발생일  시도   시군구  사고건수  사망자수  중상자수  경상자수  부상신고자수  부상자수
0        1    1  서울    중구     4     0     2     5       0     7
1        1    1  서울   용산구     1     0     2     0       0     2
2        1    1  서울   성동구     1     0     0     1       0     1
3        1    1  서울  동대문구     1     0     0     1       0     1
4        1    1  서울   성북구     3     0     1     2       0     3
...    ...  ...  ..   ...   ...   ...   ...   ...     ...   ...
57671   12   31  대전   유성구     5     0     3     3       0     6
57672   12   31  대전   대덕구     3     0     1     6       0     7
57673   12   31  울산    중구     1     0     0     0       1     1
57674   12   31  울산    남구     6     0     3     3       0     6
57675   12   31  울산    동구     1     0     2     0       0     2

[57676 rows x 10 columns]

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57676 entries, 0 to 57675
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   발생월     57676 non-null  int64
 1   발생일     57676 non-null  int64
 2   시도      57676 non-null  object
 3   시군구     57676 non-null  object
 4   사고건수    57676 non-null  int64
 5   사망자수    57676 non-null  int64
 6   중상자수    57676 non-null  int64
 7   경상자수    57676 non-null  int64
 8   부상신고자수  57676 non-null  int64
 9   부상자수    57676 non-null  int64
dtypes: int64(8), object(2)
memory usage: 4.4+ MB

In [33]:
round(data.describe(),2)

,발생월,발생일,사고건수,사망자수,중상자수,경상자수,부상신고자수,부상자수
count,57676.00,57676.00,57676.00,57676.00,57676.00,57676.00,57676.00,57676.00
mean,6.58,15.79,3.40,0.04,0.89,3.59,0.34,4.83
std,3.41,8.83,2.96,0.22,1.17,3.74,0.84,4.62
min,1.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00
25%,4.00,8.00,1.00,0.00,0.00,1.00,0.00,2.00
50%,7.00,16.00,2.00,0.00,1.00,2.00,0.00,3.00
75%,10.00,23.00,4.00,0.00,1.00,5.00,0.00,6.00
max,12.00,31.00,33.00,9.00,24.00,44.00,27.00,68.00

In [36]:
data[data.사고건수 >= 25]

       발생월  발생일  시도  시군구  사고건수  사망자수  중상자수  경상자수  부상신고자수  부상자수
1635     1   12  경기  수원시    25     2     9    18       0    27
3276     1   23  경기  수원시    28     1     3    26       1    30
3426     1   24  경기  수원시    32     0    11    36       3    50
3883     1   27  경기  수원시    27     0    11    41       3    55
22832    5   28  경기  수원시    27     0    11    39      17    67
27548    6   26  충북  청주시    25     1     5    27       1    33
37868    8   30  경기  화성시    26     0     4    25       6    35
46462   10   22  경기  수원시    25     0     5    21       2    28
47784   10   30  경기  수원시    26     1     4    25       2    31
52353   11   27  경기  수원시    33     1     5    32       3    40

In [ ]:
# 시도라는 변수로 그루핑하여 객체생성
grp = data.groupby("시도")
grp

In [41]:
grp.size() # 개수

시도
강원    2938
경기    9915
경남    3930
경북    4256
광주    1649
대구    2769
대전    1753
부산    4742
서울    8610
세종     346
울산    1519
인천    2622
전남    4019
전북    2406
제주     708
충남    3210
충북    2284
dtype: int64

In [45]:
grp[['사고건수', '부상자수']].sum()

     사고건수   부상자수
시도
강원   5930   9246
경기  52175  76407
경남  10703  14557
경북  10403  14801
광주   6908  10283
대구  10222  14229
대전   7490  10688
부산  11255  15172
서울  33465  44327
세종   1231   1809
울산   3576   4904
인천   8089  10768
전남   8213  12406
전북   5841   8487
제주   3963   5744
충남   8896  12806
충북   7989  11848

In [48]:
grp[['사고건수', '부상자수']].agg(['sum', 'max', 'mean'])

     사고건수                 부상자수
      sum max      mean    sum max      mean
시도
강원   5930  12  2.018380   9246  49  3.147039
경기  52175  33  5.262229  76407  67  7.706203
경남  10703  20  2.723410  14557  68  3.704071
경북  10403  18  2.444314  14801  28  3.477679
광주   6908  15  4.189206  10283  26  6.235901
대구  10222  15  3.691585  14229  33  5.138678
대전   7490  17  4.272675  10688  37  6.096977
부산  11255  13  2.373471  15172  22  3.199494
서울  33465  23  3.886760  44327  45  5.148316
세종   1231  11  3.557803   1809  17  5.228324
울산   3576   9  2.354180   4904  23  3.228440
인천   8089  14  3.085050  10768  26  4.106789
전남   8213  12  2.043543  12406  21  3.086838
전북   5841  15  2.427681   8487  26  3.527431
제주   3963  18  5.597458   5744  30  8.112994
충남   8896  21  2.771340  12806  47  3.989408
충북   7989  25  3.497811  11848  43  5.187391

In [53]:
cb = data[data.시도 == "충북"]
cb 
grp = cb.groupby("시군구")
grp[['사고건수', '부상자수']].agg(['sum', 'max', 'mean'])

     사고건수                 부상자수
      sum max       mean   sum max       mean
시군구
괴산군   140   3   1.228070   248  10   2.175439
단양군   134   4   1.252336   205  13   1.915888
보은군   136   3   1.192982   203   6   1.780702
영동군   149   3   1.262712   180   6   1.525424
옥천군   183   4   1.253425   272  19   1.863014
음성군   492   7   1.937008   734  15   2.889764
제천시   807   7   2.438066  1261  43   3.809668
증평군   156   3   1.289256   210   8   1.735537
진천군   525   7   1.902174   712  10   2.579710
청주시  4162  25  11.371585  6156  39  16.819672
충주시  1105  12   3.278932  1667  26   4.946588

In [56]:
gg = data[data.시도 == "경기"]
gg 
grp = gg.groupby("시군구")
grp[['사고건수', '부상자수']].agg(['sum', 'max', 'mean'])

      사고건수                 부상자수
       sum max       mean   sum max       mean
시군구
가평군    311   6   1.594872   518  12   2.656410
고양시   3489  22   9.532787  4987  53  13.625683
과천시    191   3   1.299320   264   9   1.795918
광명시   1094   9   3.236686  1489  19   4.405325
광주시   2106  15   5.850000  3059  22   8.497222
구리시    787   7   2.429012  1166  19   3.598765
군포시    485   9   1.796296   672  15   2.488889
김포시   1742  13   4.852368  2611  27   7.272981
남양주시  1998  17   5.504132  3039  33   8.371901
동두천시   361   5   1.597345   491   7   2.172566
부천시   3115  19   8.510929  4223  30  11.538251
성남시   3487  22   9.527322  5073  57  13.860656
수원시   4720  33  12.896175  6644  67  18.153005
시흥시   2259  16   6.189041  3494  29   9.572603
안산시   3513  21   9.598361  5126  36  14.005464
안성시   1061   9   3.102339  1798  40   5.257310
안양시   1269  10   3.605114  1719  18   4.883523
양주시   1270  10   3.607955  1825  18   5.184659
양평군    610   8   2.081911  1039  16   3.546075
여주시    548   5   1.943262   863  13   3.060284
연천군    180   4   1.294964   301   9   2.165468
오산시    970   8   2.921687  1355  13   4.081325
용인시   3466  22   9.469945  5407  61  14.773224
의왕시    429   5   1.810127   639  14   2.696203
의정부시  1442  11   3.983425  1937  18   5.350829
이천시   1060   9   3.090379  1637  26   4.772595
파주시   1652  12   4.576177  2228  32   6.171745
평택시   3084  19   8.426230  4660  33  12.732240
포천시    617   6   2.084459   964  12   3.256757
하남시   1148  10   3.289398  1592  19   4.561605
화성시   3711  26  10.139344  5587  47  15.265027

In [58]:
# 각 시도, 월별로 사고건수에 대한 정보 나타내기 index = 행, columns = 열 values; 변수, func; 합
pd.pivot_table(data, index='시도', columns='발생월',
               values='사고건수', aggfunc='sum', margins=True)

발생월,1,2,3,4,5,6,7,8,9,10,11,12,All
시도,,,,,,,,,,,,,
강원,401,392,441,487,553,488,528,615,524,558,500,443,5930
경기,4244,3653,4107,4358,4618,4421,4252,4442,4407,4771,4719,4183,52175
경남,866,783,870,898,917,874,851,936,873,961,971,903,10703
경북,791,684,784,863,950,906,850,975,921,952,922,805,10403
광주,521,505,587,560,687,524,594,587,575,586,603,579,6908
대구,812,746,802,821,864,840,888,856,894,902,920,877,10222
대전,544,547,653,613,689,629,618,655,650,662,653,577,7490
부산,835,857,901,969,1006,919,961,980,1003,963,981,880,11255
서울,2588,2322,2704,2739,2920,2976,2766,2925,2839,3094,2929,2663,33465
세종,102,77,98,100,124,92,94,108,103,104,136,93,1231
울산,268,270,291,316,327,320,317,258,295,300,313,301,3576
인천,579,575,648,661,719,664,659,670,790,727,729,668,8089
전남,607,591,677,707,711,701,712,705,733,737,711,621,8213
전북,443,413,508,489,587,475,458,497,511,499,523,438,5841
제주,333,270,357,302,347,325,348,357,357,320,339,308,3963
충남,630,579,719,725,829,782,715,744,822,838,815,698,8896
충북,565,572,591,692,757,754,641,690,659,746,691,631,7989
All,15129,13836,15738,16300,17605,16690,16252,17000,16956,17720,17455,15668,196349

In [62]:
round(pd.pivot_table(data, index='시도', columns='발생월',
               values='부상자수', aggfunc='max', margins=True), 1)

발생월   1   2   3   4   5   6   7   8   9  10  11  12  All
시도
강원   37  18  14  15  18  49  19  17  20  25  25  19   49
경기   61  35  38  44  67  40  35  36  47  57  40  39   67
경남   21  22  31  24  17  22  22  68  16  29  23  23   68
경북   21  28  18  24  19  16  25  23  21  23  27  19   28
광주   23  21  25  20  26  17  17  22  23  18  20  20   26
대구   21  16  15  18  24  17  18  18  33  18  16  19   33
대전   24  18  27  23  23  16  18  25  37  23  22  21   37
부산   14  14  11  16  16  15  15  16  22  17  12  17   22
서울   23  21  24  25  27  44  24  21  21  45  29  43   45
세종   12  16  11  12  17  16  12  16  11  17  11  15   17
울산   10   9  13  14  15  12  11  23  10  14  13  13   23
인천   17  14  12  15  23  18  17  26  14  16  21  15   26
전남   17  17  19  19  14  20  14  21  21  14  15  20   21
전북   17  20  24  24  26  20  21  21  26  18  24  13   26
제주   24  19  19  20  19  21  29  30  21  21  26  17   30
충남   23  29  33  46  47  28  41  20  29  31  26  21   47
충북   27  29  32  38  39  35  30  29  37  43  33  29   43
All  61  35  38  46  67  49  41  68  47  57  40  43   68