<h3> 스스로 해보기-07</h3>

In [34]:
# 01
# 서울열린데이터광장 - 지하철 8호선 역이름, 승차인원, 하차인원 출력

import requests

key = "53676b4a576a656e39326868534b7a"
url = f"http://openAPI.seoul.go.kr:8088/{key}/json/CardSubwayStatsNew/1/1000/20251118/"
r = requests.get(url)
content = r.json()
items = content['CardSubwayStatsNew']['row']

print(f"{'역이름':<5} {'승차인원':<5} {'하차인원':<5}")
for item in items:
    if item['SBWY_ROUT_LN_NM'] == "8호선":
        print(item['SBWY_STNS_NM'] + ",", end=" ")
        print(item['GTON_TNOPE'] + ",", end=" ")
        print(item['GTOFF_TNOPE'])
        print("-" * 50)

역이름   승차인원  하차인원
암사역사공원, 7718, 6702
--------------------------------------------------
암사, 17681, 16557
--------------------------------------------------
천호(풍납토성), 18986, 21002
--------------------------------------------------
강동구청, 12018, 12370
--------------------------------------------------
몽촌토성(평화의문), 7977, 8276
--------------------------------------------------
잠실(송파구청), 19223, 22074
--------------------------------------------------
석촌, 9532, 10734
--------------------------------------------------
송파, 11104, 10852
--------------------------------------------------
가락시장, 9817, 10515
--------------------------------------------------
문정, 26420, 27414
--------------------------------------------------
장지, 19228, 17605
--------------------------------------------------
복정, 11471, 9768
--------------------------------------------------
산성, 6978, 7193
--------------------------------------------------
남한산성입구(성남법원.검찰청), 15581, 14468
--------------------------------------------------
단대오거리, 13456, 12872
--------------------------------------------------
신흥, 5569, 5809
--------------------------------------------------
수진, 5859, 5582
--------------------------------------------------
모란, 4943, 3911
--------------------------------------------------
남위례, 8379, 8279
--------------------------------------------------

In [33]:
# 02
import pandas as pd

stn, geton, getoff, total = [], [], [], []
for item in items:
    if item['SBWY_ROUT_LN_NM'] == "8호선":
        stn.append(item['SBWY_STNS_NM'])
        geton.append(int(item['GTON_TNOPE']))
        getoff.append(int(item['GTOFF_TNOPE']))
        total.append(int(item['GTON_TNOPE']) + int(item['GTOFF_TNOPE']))

df = pd.DataFrame({"역이름": stn, "승차인원": geton, "하차인원": getoff, "합계": total})
df

                 역이름   승차인원   하차인원     합계
0             암사역사공원   7718   6702  14420
1                 암사  17681  16557  34238
2           천호(풍납토성)  18986  21002  39988
3               강동구청  12018  12370  24388
4         몽촌토성(평화의문)   7977   8276  16253
5           잠실(송파구청)  19223  22074  41297
6                 석촌   9532  10734  20266
7                 송파  11104  10852  21956
8               가락시장   9817  10515  20332
9                 문정  26420  27414  53834
10                장지  19228  17605  36833
11                복정  11471   9768  21239
12                산성   6978   7193  14171
13  남한산성입구(성남법원.검찰청)  15581  14468  30049
14             단대오거리  13456  12872  26328
15                신흥   5569   5809  11378
16                수진   5859   5582  11441
17                모란   4943   3911   8854
18               남위례   8379   8279  16658

In [48]:
# 03
# 10월 1일부터 10월 31일까지 고속터미널역에 대하여 
#날짜, 호선, 역이름, 승차인원, 하차인원을 각각 리스트 변수로 저장후 
# pandas의 데이터프레임으로 저장하고 출력
import requests
import pandas as pd

key = "53676b4a576a656e39326868534b7a"
dates, line, stn, geton, getoff = [], [], [], [], []
for n in range(1,32):
    date = "202510" + f"{n:02d}"
    url = f"http://openAPI.seoul.go.kr:8088/{key}/json/CardSubwayStatsNew/1/1000/{date}/"
    r = requests.get(url)
    content = r.json()
    items = content['CardSubwayStatsNew']['row']

   
    for item in items:
        if item['SBWY_STNS_NM'] == "고속터미널":
            dates.append(int(item['USE_YMD']))
            line.append(item['SBWY_ROUT_LN_NM'])
            stn.append(item['SBWY_STNS_NM'])
            geton.append(item['GTON_TNOPE'])
            getoff.append(item['GTOFF_TNOPE'])
           
df = pd.DataFrame({"date": dates, "line": line, "stn": stn, "geton": geton, "getoff": getoff})
df

        date line    stn  geton getoff
0   20251001  3호선  고속터미널  46131  45906
1   20251001  7호선  고속터미널  17910  16294
2   20251001  9호선  고속터미널  15793  20362
3   20251002  3호선  고속터미널  53507  66014
4   20251002  7호선  고속터미널  19734  18442
..       ...  ...    ...    ...    ...
88  20251030  7호선  고속터미널  18499  16164
89  20251030  9호선  고속터미널  16407  20940
90  20251031  3호선  고속터미널  58103  57720
91  20251031  7호선  고속터미널  22087  17232
92  20251031  9호선  고속터미널  19239  25235

[93 rows x 5 columns]

In [52]:
# 04
# 서울열린데이터광장 - 서울시 버스정류소 위치정보

import requests

key = "53676b4a576a656e39326868534b7a"
url = f"http://openAPI.seoul.go.kr:8088/{key}/json/busStopLocationXyInfo/1/1000/"
r = requests.get(url)
content = r.json()
items = content['busStopLocationXyInfo']['row']

count = 0
for item in items:
    print("정류장번호: " + item['STOPS_NO'])
    print("정류장이름: " + item['STOPS_NM'])
    print(f"(위도, 경도): ({item['YCRD']}, {item['XCRD']})")
    print("-" * 50)

    count += 1
    if count == 10:
        break

정류장번호: 01001
정류장이름: 종로2가사거리
(위도, 경도): (37.569808, 126.987752)
--------------------------------------------------
정류장번호: 01002
정류장이름: 창경궁.서울대학교병원
(위도, 경도): (37.579433, 126.996522)
--------------------------------------------------
정류장번호: 01003
정류장이름: 명륜3가.성대입구
(위도, 경도): (37.582581, 126.998251)
--------------------------------------------------
정류장번호: 01004
정류장이름: 종로2가.삼일교
(위도, 경도): (37.5685792736, 126.9876130976)
--------------------------------------------------
정류장번호: 01005
정류장이름: 혜화동로터리.여운형활동터
(위도, 경도): (37.586243, 127.001744)
--------------------------------------------------
정류장번호: 01006
정류장이름: 서대문역사거리
(위도, 경도): (37.566137, 126.966893)
--------------------------------------------------
정류장번호: 01007
정류장이름: 서울역사박물관.경희궁앞
(위도, 경도): (37.569135, 126.97038)
--------------------------------------------------
정류장번호: 01008
정류장이름: 서울역사박물관.경희궁앞
(위도, 경도): (37.569515, 126.97076)
--------------------------------------------------
정류장번호: 01009
정류장이름: 광화문
(위도, 경도): (37.570142, 126.976357)
--------------------------------------------------
정류장번호: 01010
정류장이름: 광화문
(위도, 경도): (37.570267935, 126.9778894864)
--------------------------------------------------